    <footer class="site-footer">
        <div class="container">
            <div class="social-nav clearfix">
                <a target="_blank" class="icon-facebook" title="Facebook" href="https://www.facebook.com/MyPijons"></a>
                <a target="_blank" class="icon-twitter" title="Twitter" href="https://twitter.com/mypijons"></a>
                <a target="_blank" class="icon-linkedin" title="In" href="https://www.linkedin.com/company/11910358"></a>
            </div>
            <div class="nav-left">
                <ul class="nav-footer clearfix">
                    <li>
                        Copyright &copy; 2016 Pijons, Inc. All rights reserved.
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <ul class="nav-footer nav-rule clearfix">
                     <li><a title="Privacy Policy" href="sectionPolicy">Privacy Policy</a></li>
                    <li><a title="Terms of Use" href="sectionTerms">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </footer>