    <header class="site-header">
        <div class="container">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a title="" href="./">
                    <img class="img-responsive img-normal" alt="" src="./images/ui/Pigeons_logo.png" />
                    <img class="img-responsive img-retina" alt="" src="./images/ui/Pigeons_logo@2x.png" />
                </a>
                <img class="print" alt="" src="./images/ui/print/logo@2x.png" />
            </div>
            <nav class="nav-user hidden-xs">
                <ul>
                    <li class="dropdown">
                        <a id="navUser" title="" href="javascript:void(0);" aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown"><span class="icon icon-user" style="background-image:url();">VL</span> <span class="text">Valentina</span></a>
                        <ul class="dropdown-menu" aria-labelledby="navUser">
                            <li id="navHelp"><span class="arrow"></span><span class="caret"></span><a href="help-center.html" title="Help center">Help Center</a></li>
                            <li id="navSettings"><a title="Settings" href="settings.html">Settings</a></li>
                            <li><a title="Log out" href="javascript:void(0);" data-target="#logOutModal" data-toggle="modal">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="nav-main hidden-xs">
                <ul class="clearfix">
                    <li id="navReminder" class="dropdown">
                        <a id="subNavReminder" title="Reminder" href="javascript:void(0);" aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown"><span class="text">Reminder</span></a>
                        <ul class="dropdown-menu" aria-labelledby="subNavReminder">
                            <li id="subNavReminderSingle"><span class="arrow"></span><span class="caret"></span><a title="Send Reminders" href="reminder-single.html">Send Reminders</a></li>
                            <li id="subNavReminderMulti"><a title="Send Multi-day Reminders" href="reminder-multi-day.html">Send Multi-day Reminders</a></li>
                        </ul>
                    </li>
                    <li id="navUpcoming"><a title="Upcoming" href="upcoming.html"><span class="text">Upcoming</span></a></li>
                    <li id="navContacts"><a title="Contacts" href="contact-single.html"><span class="text">Contacts</span></a></li>
                </ul>
            </nav>
        </div>
    </header>