<div id="left-nav" class="left-nav visible-xs">
    <div>
        <dl>
            <dt><a title="" href="settings.html" class="nickname"><span class="icon icon-avatar" style="background-image:url();">VL</span> Kourosh</a></dt>
            <!--<dd id="reminderNav"><a title="Reminder" href="#"><span class="icon-nav icon-reminder"></span>Reminder</a></dd>-->
            <dd id="reminderSingleNav"><a title="Reminder" href="reminder-single.html">Reminders</a></dd>
            <dd id="reminderMultiNav"><a title="Reminder" href="reminder-multi-day.html">Send Multi-day Reminders</a></dd>
            <dd id="upcomingNav"><a title="Upcoming" href="upcoming.html"><span class="icon-nav icon-upcoming"></span>Upcoming</a></dd>
            <dd id="contactsNav"><a title="Contacts" href="contact-single.html"><span class="icon-nav icon-contacts"></span>Contacts</a></dd>
        </dl>
        <dl class="nav-expand">
            <dd id="helpNav"><a title="Help center" href="help-center.html">Help Center</a></dd>
            <dd id="reminderSettingsNav"><a title="Settings" href="settings.html"><span class="icon-nav icon-settings"></span>Settings</a></dd>
            <dd id=""><a title="Log out" href="#" data-target="#logOutModal" data-toggle="modal">Log out</a></dd>
        </dl>
    </div>
</div>