.site-footer{
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}
.site-footer .container{
    background: var(--white);
    min-height: 80px;
    padding-top: 15px;
}
.site-footer ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.site-footer ul li{
    display: inline-block;
    padding: 0 20px;
    font-size: var(--s14);
}
.site-footer ul li.li-line{
    display: none;
}
.site-footer ul a{
    color: var(--base);
    text-decoration: none;
}
.site-footer ul a:hover{
    color: #17a0a9;
    transition: 0.5s ease;
    text-decoration: none;
}
.site-footer p{
    font-size: var(--s13);
}

@media (width <= 767px){
    .site-footer{

    }
    .site-footer .container{
        background: #222;
        min-height: 82px;
        padding-top: 15px;
    }
    .site-footer ul li{
        padding:0;
        font-size: var(--s14);
        color: var(--white);
        line-height: 24px;
    }
    .site-footer ul li.li-line{
        padding: 0 9px;
        display: inline-block;
    }
    .site-footer ul a{
        color: var(--white);
        line-height: 24px;
    }
    .site-footer p{
        color: var(--white);
        font-size: var(--s14);
        line-height: 24px;
    }
}

@media (width <= 400px){
    .site-footer ul li{
        font-size: var(--p);
    }
    .site-footer ul li.li-line{
        padding: 0 5px;
    }
    .site-footer p{
        font-size: var(--p);
    }
}

@media (width < 320px){
    .site-footer ul li.li-line{
        padding: 0 2px;
    }
}