{% extends './master/main.html' %}

{% block title %}Pijons - Index{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <dl class="col-xs-6">
            <dd>&nbsp;</dd>
            <dt>UI Verson</dt>
            <dd>
                <a title="" href="#" target="_blank">home</a>
            </dd>
            <!--<dd>
                <a title="" href="#" target="_blank"></a>
            </dd>
            <dd>
                <a title="" href="#" target="_blank"></a>
            </dd>-->
        </dl>
    </div>

</div>
{% endblock %}

{% block script %}{% endblock %}

