<script type="text/javascript" src="scripts/libs/modernizr.custom.js"></script>
<script type="text/javascript" src="scripts/libs/jquery-1.9.1.js"></script>
<script type="text/javascript" src="scripts/libs/moment.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="scripts/libs/jquery-ui.js"></script>
<script type="text/javascript" src="scripts/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/libs/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="scripts/libs/bootstrap-select.js"></script>
<script type="text/javascript" src="scripts/libs/select2.min.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.mousewheel.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.typeahead.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.timepicker.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.maskedinput.js"></script>
<script type="text/javascript" src="scripts/libs/croppie.js"></script>
<script type="text/javascript" src="scripts/libs/hammer.min.js"></script>
<script type="text/javascript" src="scripts/libs/hammer.fakemultitouch.js"></script>
<script type="text/javascript" src="scripts/libs/drum.js"></script>
<script type="text/javascript" src="https://addthisevent.com/libs/ate-latest.min.js"></script>
<script type="text/javascript" src="scripts/general-ui.js"></script>
<script type="text/javascript" src="scripts/selectT.js"></script>
<script type="text/javascript" src="scripts/libs/lightslider.js"></script>
<script type="text/javascript" src="scripts/slide-video.js"></script>
